@model CV.Models.Entity.TblDeneyimler
@{
    ViewBag.Title = "DeneyimDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h4>Deneyim Düzenleme Sayfası</h4>
<form method="post" >   
    @Html.Label("Başlık")
    @Html.TextBoxFor(x=>x.Baslik,new {@class="form-control" })

    @Html.Label("AltBaşlık")
    @Html.TextBoxFor(x=>x.AltBaslik,new {@class="form-control" })
    
    @Html.Label("Tarih")
    @Html.TextBoxFor(x=>x.Tarih,new {@class="form-control" })
    
    @Html.Label("Acıklama")
    @Html.TextAreaFor(x=>x.Aciklama,new {@class="form-control" })
    <button type="submit" class="btn btn-dark mt-3">Güncelle</button>
</form>
